html { box-sizing: border-box; }
*, *:before, *:after {	
	margin: 0px;
	padding: 0px;
	border: 0;
	box-sizing: inherit;
	text-decoration: none;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 1em;
	font-weight: normal;
}

/* General */
.page__line {
    padding-bottom: 60px;
    width: 100%;
    clear: both;
}
.page__line_black {
    background-color: #000;
    color: #fff;
}
.page__line_white {
    background-color: #fff;
    color: #333;
}
.page__line_gray {
    background-color: #eee;
    color: #000;
}
.block {
	width: 940px;
	margin: 0 auto;
	padding: 20px 0 20px 0;
	text-align: center;
}
.block__h2{
	margin-top: 60px;
    text-transform: uppercase;
	font-size: 2.2em;
    font-weight: bold;
	letter-spacing: 1px;
	color: #333;
}
.block__button {
	width: 220px;
	height: 60px;
    margin: 20px 0 20px 0;
	border-radius: 5px;
	border: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	background-color: #ffcc33;
    color: #fff;
}

/* HEADER */
.page__line_header {
	background: url("../images/header.jpg") no-repeat center #000;
	background-attachment: fixed;
    background-size: cover;
}
.block__logo{
	float: left;
}
.block__h1{
	padding: 180px 0 20px 0;
	text-transform: capitalize;
	font-style: italic;
	font-family: serif;
	font-size: 3.1em;
}
.block__p_welcome {
	text-transform: uppercase;
	font-size: 4.5em;
    font-weight: bold;
}

/* MENU */
.block__menu {
	float: right;
    margin-top: 5px;
}
.menu__list {
	list-style: none;	
}
.menu__item {
	display: inline-block;
    padding: 0 0 20px 20px;
}
.menu__link {
    display: block;
    padding: 0 0 20px 0;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 0.8em;
    color: #fff;
}
.menu__link:hover {
    color: #ffcc33;
    border-bottom: 2px solid #ffcc33;
}

/* SERVICES */
.services, .about, .team{
	width: 990px;
	height: 444px;
	margin: 0 auto;
	margin-top: 90px;
	text-align: center;	
	font-family: serif;
}
.services {
	background-color: #fff;
	font-size: 1.2em;
}

.services__h3, .portfolio__h3, .team__h3 {	
	position: relative;
	margin-top: 16px;
	margin-bottom: -6px;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 1.1em;
	color: #333;
}
.services__list {
	width: 250px;
	margin: 40px;
	padding-top: 18px;
	float: left;
}
.services__img {
	width: 46px;
	height: 46px;
	padding: 10px;
	border: 2px solid #ffcc33;
	border-radius: 50px;
}

/* PORTFOLIO */
.block-portfolio {
	text-align: center;
	width: 100%;
	height: 1220px;
	font-size: 1.2em;
	background-color: #eee;
}
.portfolio{
	width: 990px;
	height: 444px;
	margin: 0 auto;
	margin-top: 76px;
	text-align: center;	
	font-family: serif;
}
.portfolio__list {
	width: 290px;
	height: 392px;
	margin-left: 25px;
	margin-right: 10px;
	margin-bottom: 50px;
	float: left;
	background-color: #fff;
}
.portfolio__img {
	width: 100%;
	margin: 0 auto;
	height: 300px;
}
.portfolio__h2 {	
	padding-top: 112px;
	margin-bottom: -9px;
	text-transform: uppercase;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 2.2em;
	letter-spacing: 1px;
	color: #333;
}
.portfolio__h3 {
	margin-top: 18px;
	margin-bottom: -15px;
}

/* ABOUT US */
.about {
	height: 1575px;
	font-size: 1.2em;
}
.about__h3 {	
	position: relative;
	margin-top: 0px;
	margin-bottom: -6px;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 1.1em;
	color: #333;
}
.about__item {
	clear: both;
}
.about__list {
	width: 255px;
}
.about__list_float-left {
	margin-left: 105px;
	margin-right: 45px;
	float: left;
	text-align: right;
}
.about__list_float-right {
	margin-right: 105px;
	margin-left: 45px;
	float: right;
	text-align: left;
}
.about__img {
	margin: 0 auto;
	padding: 0;
	width: 170px;
	height: 170px;
	border: 5px solid #eee;
	border-radius: 100px;
	float: left;
	position: relative;
	z-index: 1;
}
.about__vline {	
	width: 494px;
	height: 275px;
	border-right: 3px solid #eee;
	position: relative;
	z-index: 0;
}
.about__img_float-right {
	float: right;
}
.about__story {
	margin: 0 auto;
	padding-top: 15px;
	width: 160px;
	height: 140px;
	border: 5px solid #eee;
	border-radius: 80px;
	text-transform: uppercase;
	text-shadow: 2px 2px 6px #ff9900;
	font-family: Tahoma, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	background-color: #ffcc33;
	color: #fff;
}

/* TEAM */
.block-team {
	clear: both;
	width: 100%;
	height: 700px;
	padding-top: 20px;
	background-color: #eee;
}
.team__list {
	width: 330px;
	padding-top: 60px;
	padding-bottom: 60px;
	float: left;
}
.team__img {
	width: 200px;
	height: 200px;
	border: 5px solid #fff;
	border-radius: 100px;
}
.team__social, .footer__social {
	margin: 0 auto;
}
.team__social__img {
	padding: 3px;
	border: 2px solid #333;
	border-radius: 20px;
}
/* CLIENTS */
.clients, .contact, .footer {
	width: 990px;
	margin: 0 auto;
	padding: 30px;
	text-align: center;	
	font-family: serif;	
}
.clients__img {
	height: 30px;
	margin: 20px;
}
/*CONTACT US*/
.block-contact {
	width: 100%;
	height: 520px;
	background-color: #333;
	background: url("../images/contacts.jpg");
	color: #999;
}
.contact__h2 {
	padding-top: 30px;
	text-transform: uppercase;
	font-family: Tahoma, Arial, sans-serif;
	letter-spacing: 1px;
	color: #fff;
}
.contact__input{
	width: 450px;
	height: 50px;
	padding-left: 20px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	color: #ccc;
}
.contact__textarea {
	width: 450px;
	height: 190px;
	margin-top: 20px;
	float: right;
	border: none;
	border-radius: 5px;
	color: #ccc;
}
.contact__button {
	margin-top: 20px;
}